.subscribe-btn{
  background-color: rgb(193, 13, 13);
  color: white;
  border: none;
  border-radius: 2px;
  height:36px;
  width: 105px;
  margin-right: 8px;
  cursor: pointer;
}

.subscribe-btn:hover{

  opacity: 0.5;

}
.join-btn{
  border-color: rgba(4, 16, 156, 0.86);
  color: rgba(4, 16, 156, 0.86);
  height:36px;
  background-color: white;
  border-radius: 2px;
  border-width: 1px;
  width: 60px;
}

.tweet-btn{
  height:36px;
  margin-left: 8px;
  background-color: rgb(8, 135, 186);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  width: 80px;
}

